<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar has-shadow is-white px-2 pt-4">
    <h1 class="title"><a href="/">Sweets n' Treats</a></h1>
    
      <div class="navbar-menu" id="nav-links">   
       <div class="navbar-end"></div> 
      <a href="/" class="navbar-item button is-rounded">Home</a>
      <a href="/cookies" class="navbar-item button is-rounded">Cookies</a>
      <a href ="/candies" class="navbar-item button is-rounded">Candies</a>
       {{#if loggedIn}}
      <a class="navbar-item button is-rounded" id="logout">Logout</a>
       {{else}}
       <a href ="/login" class="navbar-item button is-rounded">Login</a>
      </div> 
      </div>
    </nav>   
       
{{/if}}

    </ul>

     <div> User Register </div>
    <form id = "register-form">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="Username">
      <label for = "email">Email</label>
      <input type="text" name="email" id="email" placeholder="Email">
      <label for = "password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password">
      {{!-- <label for = "confirm-password">Confirm Password</label>
      <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password"> --}}
      <button type="submit">Register</button>
    </form>




  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">

  </footer>
</body>

</html>
<script src="/js/register.js"></script>
<script src="/js/logout.js"></script>