<div>
  <h1>Recipes for candies</h1>
  <div>
  <button><a href="/newrecipe">Add a candies recipe</a></button>
</div>
  {{#each candies}}

  <div class="recipe-box">
    <div>
      <h2><b>Title</b>: {{title}}</h2>
      <p><b>Ingredients:</b> {{ingredients}}</p>
      <p><b>Instructions:</b> {{instructions}}</p>
    </div>
    <button class="delete-button" data-id="{{title}}">Delete</button>
  </div>
  {{/each}}
</div>



<script src="../public/js/deleteRecipe.js"></script>

<style>
  .recipe-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .delete-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #cc0000;
  }
</style>


