<head>
<title>Cookies and Cakes</title>
<script src="scripts/cookies.js" type="module"></script>
<script src="scripts/cakes.js" type="module"></script>
<script src="scripts/main.js" type="module"></script>
</head>
<body>
    <h1>Cookies and Cakes</h1>
    <ul id="cookies"></ul>
    </body>
    