<div>
    <h1>Recipes for Cookies</h1>
    {{#each cookies}}
    <div>
        <h1>{{title}}</h1>
        <p>{{ingredients}}</p>
        <p>{{instructions}}</p>
    </div>
    {{/each}}
</div>

<div>
    <button><a href="/newrecipe">Add a cookie recipe</a></button>
</div>