<!-- create dashboard -->

{{#if user}}
  <h1>Dashboard</h1>
  <p>Welcome {{user.name}}</p>
{{else}}
  <p>This is the dashboard</p>
  <a href="/cookies">Add Cookie Recipe</a><br>
   <a href="/candies">Add Candy Recipe</a><br>
    <a href="/dashboard">Explore Recipes</a>
{{/if}}