<form id = "loginForm">
    <label for = "username">UserName</label>
    <input type = "text" id = "username" required></input>
    <br>
    <label for = "password">Password</label>

    <input type = "password" id = "password" required></input>
    <br>

    <button><a href="/register">Register</a></button> <!--link to register form, only visible when you click register-->
    <button type="submit">Login</button> <!--connect login to homepage/ everything -->

</form>

<script src="/js/login.js"></script>