<form id="recipeForm">
    <div>
        <label for="title">Title: </label>
        <input type="text" id="title">
    </div>
    <div>
        <label for="ingredients">Ingredients: </label>
        <input type="text" id="ingredients">
    </div>
    <div>
        <label for="instructions">instructions: </label>
        <input type="text" id="instructions">
    </div>
    <div>
        <label for="category">Select a Category: </label>
       <select name="category" id="category">
        <option value="cookies">Cookies</option>
        <option value="candies">Candies</option>
       </select>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<script src="/js/addRecipe.js"></script>