<div> User Register </div>
<form id="register-form" class="hidden">
<div class="form_user">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email">
    </div>
</div>

<div class="form_user">
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password">
    </div>
</div>
    <div>
        <button type="submit">Register</button>
        <button><a href="/login">Login</a></button>
    </div>
</form>